<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="xbusProperties" class="org.springframework.beans.factory.config.YamlPropertiesFactoryBean">
		<property name="resources" value="classpath*:xbus-demo.yml"/>
	</bean>
	<context:property-placeholder properties-ref="xbusProperties"/>
	
	<bean id="ymlConfig" class="com.lz.components.bus.core.BusConfigurator">
		<property name="properties" ref="xbusProperties"/>
	</bean>
	
	<bean id="rocketConfig" class="com.lz.components.bus.stream.broker.rocket.RocketConfigBean">
		<property name="consumeRetryAble" value="true"/>
		<property name="consumeRetryCount" value="16"/>
		<property name="consumerTimeoutMillis" value="900000"/><!-- 15m -->
		<property name="produceRetryAble" value="true"/>
		<property name="produceRetryCount" value="2"/>
		<property name="producerTimeoutMillis" value="3000"/><!-- 3s -->
		<property name="durable" value="false"/>
        <property name="nameSrvAddr" value="127.0.0.1:9876"/>
        <property name="topicQueueNums" value="4"/>
    </bean>
    <!-- 
	<bean id="streamBroker" class="com.lz.components.bus.stream.broker.rocket.RocketMQStreamBroker">
		<constructor-arg ref="rocketConfig"/>
	</bean>
	<bean id="terminalConfigurator" class="com.lz.components.bus.stream.terminal.file.FileConfigurator">
		<constructor-arg index="0" value="appName"/>
	</bean>
	
	<bean id="busTemplate" class="com.lz.components.bus.BusTemplate" init-method="init">
		<constructor-arg index="0" ref="busName"/>
		<constructor-arg index="1" ref="streamBroker"/>
		<constructor-arg index="2" ref="terminalConfigurator"/>
		<property name="accessInterval" value="100"/>
	</bean>
	<bean class="com.lz.components.bus.core.BusBeanPostProcessor"/> -->
</beans>